node_modules
.idea/companysite.iml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea
.DS_Store
client/.DS_Store
server/.DS_Store
client/npm-debug.log

